{
  "plugins": ["@babel/plugin-proposal-optional-chaining"],
  "env": {
    "development": {
      "presets": [
        "@babel/preset-env"
      ],
    },
    "rollup": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ],
    },
    "jsnext": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ],
    }
  }
}
